{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <b>Welcome</b>
{% endblock %}
{% block content %}
    <br>
    Thank you for participating in today’s experiment.<br><br>

    You have earned a $5 show-up fee for participating.<br><br>

    During the experiment you and the other participants will be given tasks
    that will give you an opportunity to earn significantly more.<br><br>

    When you are asked to work with other players or assigned to groups,
    none of the players know who they are working with or are told their names.<br><br>

    Throughout the experiment you will earn tokens.<br><br>

    <ul>
        <li>During the experiment, you and the other people
            participating will be placed into groups,
            with 4 people in each group.</li><br>
        <li>You will not be told the names of those you are partnered or placed in groups with,
            and they will not be told your name.</li><br>
        <li>All participants have identical instructions.</li><br>
        <li>The experiment has three phases and will take approximately 1 hour in total.</li><br>
        <li>Phase one will consist of an individual investment game.
            You will earn tokens based on your investment performance.</li><br>
        <li>Phase two will consist of a partner game and a group game.
            You will earn tokens based on your decisions and the
            decisions of the other players in your group.</li><br>
        <li>Phase three will consist of multiple rounds,
            where each round will include a partner game and a group game.
            You will earn tokens based on your decisions and
            the decisions of the other players in your group.</li><br>
        <li>Groups and partners will remain anonymous in each round of phases two and three.
            Groups and partners will be reshuffled in each round.</li><br>
        <li>At the end, there will be a brief survey.</li><br>
        <li>When the experiment concludes, you will be paid in cash.
            You will be paid 1 US dollar for every 10 tokens
            you have earned over all phases of the experiment,
            plus your $5 show-up fee.</li>
    </ul>

    {%  next_button %}
{% endblock %}