{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <b>Instructions For The Sender-Receiver game.</b>
{% endblock %}
{% block content %}
    <br>
    <b>Phase 2: Sender-Receiver Game </b><br><br>

    This game has two players: a <b>sender</b> and a <b>receiver</b>.
    You will play this game twice, once as the sender and once as the receiver. You may play as sender first, or as receiver first. 
    Each time, both the sender and the receiver will begin
    with {{ Constants.endowment }} in their account.
    You will be randomly partnered with a different participant each time.
    Neither you nor your partners will ever learn the identity of the other.<br><br>

    <b>Playing as the Sender:</b><br><br>

    As a sender, you must decide how much of your {{ Constants.endowment }} endowment
    you want to transfer to the receiver you are matched with.
    You may transfer between 0 to {{ Constants.endowment }},
    <b><u>which will be tripled</u></b> and placed in the receiver’s account.
    For example, if you transfer 2 tokens, then 6 tokens will be added to the receiver’s account.
    You will have 8 tokens in your account, and the receiver will have 6 tokens in theirs.<br><br>

    <b>Playing as the Receiver:</b><br><br>

    When playing as the receiver, you must decide how many tokens to transfer back to the sender. Your decision will depend on how many tokens
    the sender transferred into your account.
    You will be shown how much your account has increased, and then you will make your decision.
    You can transfer from your account, back to the <b>sender</b>,
    any amount from 0 up to the total number of tokens in your account.
    For example, if the <b>sender</b> transfers 2 tokens,
    then the <b>receiver’s</b> account now has 10 + 3 x 2 = 16 tokens.
    As the receiver, you can choose to transfer between 0 and 16 tokens back to the <b>sender</b>.
    You will keep whatever remains in your account.<br><br>

Your earnings for this round are the <b>mean of your earnings as sender and receiver.</b>

    <b>Example 1:</b><br><br>

As the <b>sender</b>, you choose to transfer 3 of your 10 tokens to the
    person you are randomly matched with.<br>
    The person you are randomly matched with sees in the <b>Receiver Phase</b>
    that they were sent 3,
    which is multiplied by 3 so that they have 9 tokens in their account.
    They choose to transfer 4 back to your account.<br>
    At the end of this round, you have 10 – 3 + 4 = 11 tokens.
    The receiver you were matched with has 10 + 9 – 4 = 15.<br><br>

    <b>Example 2:</b><br><br>

As the <b>receiver</b> you find out that the <b>sender</b> you are randomly matched
    with chose to transfer 5 tokens to your account. This 5 was multiplied by 3 so that you have 10 + 3 x 5 = 25
    tokens in your account. You choose to transfer 6 back to the sender.<br>
    At the end of this round, your private account has 10 + 15 – 6 = 19 tokens.
    The sender you were matched with has 10 – 5 + 6 = 11.<br><br>

    <b>Quiz 2:</b><br>

    You will receive 2 tokens for each complete
    correct answer to the following questions, paid separately
    at the end of the experiment.<br> 
Suppose you play as a Sender first, and then as a Receiver. <br>
    1. As a Sender, you choose to transfer 6 tokens to the receiver.
    The receiver’s account increases by: {{ formfield 'answer_1' }}
    The receiver chooses to transfer 8 back to you.
    Now, the amount in your account is: {{formfield 'answer_2' }}
    The amount in the receiver’s account is: {{formfield 'answer_3' }}<br><br>

    2. As a Receiver, the sender you are matched with transfers 7 tokens to your account.
    Your account increases by: {{formfield 'answer_4' }}
    You now have in your account: {{formfield 'answer_5' }}<br>

    You choose to transfer 11 tokens back to the sender’s account.
    The sender now has in their account:  {{formfield 'answer_6' }}
    You now have in your account: {{formfield 'answer_7' }}<br><br>

    3. At the end of this round, your earnings for this round, which are the average of your earnings as sender and receiver, are: {{formfield 'answer_8' }}.

    {% next_button %}
{% endblock %}
